@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42; 
  --background-rgb: 255, 255, 255; 
}

@layer base {
  h1 {
    @apply text-4xl font-bold mb-4;
    font-size: 2.25rem !important; 
  }
  h2 {
    @apply text-3xl font-bold mb-3;
    font-size: 1.875rem !important;
  }
  h3 {
    @apply text-2xl font-bold mb-2;
    font-size: 1.5rem !important;
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(var(--background-rgb)) !important;
    @apply antialiased;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 0;
    /* 確保手機滑動時不會露出底層背景色 */
    overscroll-behavior-y: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


